
@mixin desktop {
    @media only screen and (min-width: 1024px) {
        position: absolute;
        @content;
    }
}
@mixin small {
    @media only screen and (max-width: 1023px) {
      background-size: 100%;
      background-position: center;
      @content;
    }
}
#btn_home{
    cursor: pointer;
    @include small(){
        display: none;
    }
    @include desktop(){
        top: 10px;
        right: 20px;
        z-index: 1;
    }
}
#btn_credits{
    cursor: pointer;
    @include desktop(){
        top: 10px;
        left: 20px;
        z-index: 1;
    }
    @include small(){
        display: none;
    }
}
.popup{

    background-color: #fff;
    background-image: url(./images/background.png), url(./images/book.png);
    background-repeat: no-repeat;
    background-position: bottom right, 90% 60%;

    @include small(){
        background-image: none;
    }
}
.topic{
    @include desktop(){
        position: absolute;
        z-index: 99999999999999999999;
    }
    font-family: 'Century Gothic Bold';
    background-image: url(./images/b-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 9999;
    color: #000000;
    border: none;
    .text{
        width: 55%;
        font-size: 1.6rem;
        font-family: 'Century Gothic Regular';
        left: 40%;
        top: 20%;
        p{
            margin-top: 20px;
            margin-bottom: 20px;
            @include small(){
                text-align: left;
                padding: 10px;
            }
        }
        ul{
            li{
                font-size: 1.6rem;
                font-family: 'Century Gothic Regular';
                @include small(){
                    text-align: left;
                    padding-left: 10px;
                    
                }
            }
        }
    }
    .cir {
        @include desktop(){
            top: 150px;
            left: 20px;
        }
    }
    .fle{
        @include desktop(){
            top: 75px;
            left: 280px;
        }
        @include small(){
            display: none;
        }
    }
    .boxborder{
        @include desktop(){
            top: 20px;
            left: 20px;
            box-sizing: border-box;
            border: 5px solid #000;
            width: calc(100% - 40px);  
            height: calc(100% - 40px);
            background-color: #fff;
        }
    }
    .close{
        @include desktop(){
            top: 2px;
            right: 2px;
            z-index: 9;
            cursor: pointer;
        }
        @include small(){
            display: none;
        }
    }
}
#credits{
    &_close{
        cursor: pointer;
        @include small(){
            display: none;
        }
        @include desktop(){
            top: 10px;
            right: 20px;
        }
    }
    @include desktop(){
        top: 120px;
        left: 250px;
    }
    &_title{
        @include desktop(){
            top: 40px;
            left: 30px;
        }
    }
    &_text{
        
        li{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            font-family: 'Century Gothic Regular';
            font-size: 1.2rem;
            color: #676767;
            span:nth-child(1){
                font-family: 'Century Gothic Bold';
                font-size: 1.2rem;
            }
        } 
    }
}


#stage1{
    background-image: url(./images/icon_home.png), url(./images/background.png);
    background-position: top right;
    background-repeat: no-repeat;
    @include small{
        background-image: url(./images/background.png);
        background-size: cover;

    }
    &__title{
        @include desktop{
            top: 20px;
            left: 20px;
        }
    }
    &__btn{
        cursor: pointer;
        @include small{
            display: none;
        }
        @include desktop{
            bottom: 80px;
            left: 200px;
        }
    }
}
.title{
    font-family: 'Century Gothic Bold';
    font-size: 3rem;
    span{
        color: #00A599;
    }
}
.text{
    font-family: 'Century Gothic Regular';
    font-size: 2rem;
}
.content{
    font-family: 'Century Gothic Regular';
    font-size: 1.2rem;
    p{
        margin-top:20px;
    }
}
.legend{
    font-family: 'Century Gothic Bold';
    font-size: 1.2rem;
    color: #00A599;
    span{
        font-weight: bold;
    }
}
#slider{
    background-color: #fff;
    margin: 0;
    &_1{
        background-image: url(./images/background.png), url(./images/avatar1.png);
        background-repeat: no-repeat;
        background-position: bottom left;
       
        @include small{
            background-size: cover;
            background-image: url(./images/background.png);
        }
        
        .text{
            @include desktop(){
                top: 95px;
                left: 50%;
                width: 40%;
                font-size: 1.3rem;
                text-align: center;
            }
            p{
                margin-top: 20px;
            }
        }
    }
    
    &_3{
        margin: 0;
        background-color: #fff;
        background-image:  url(./images/background.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size:cover;
        @include small{
            background-image:  url(./images/background.png);
        }
        .info{
            cursor: pointer;
            @include desktop(){
                top: 60px;
                left: 90px;
                width: 62px;
                height: 62px !important;
            }
            img{
                width: 62px;
            }
        }
        #cir1{
            width: 164px !important;
            @include desktop(){
                top: 140px;
                left: 70px;
            }
        }
        #mas1{
            @include desktop(){
                top: 190px;
                left: 239px;
            }
        }
        #cir2{
            width: 164px !important;
            @include desktop(){
                top: 140px;
                left: 315px;
            }
        }
        #mas2{
            @include desktop(){
                top: 310px;
                left: 362px;
            }
        }
        #cir3{
            width: 164px !important;
            @include desktop(){
                top: 385px;
                left: 315px;
            }
        }
        #mas3{
            @include desktop(){
                top: 430px;
                left: 482px;
            }
        }
        #cir4{
            width: 164px !important;
            @include desktop(){
                top: 385px;
                left: 558px;
            }
        }
        #mas4{
            @include desktop(){
                top: 310px;
                left: 605px;
            }
        }
        #cir5{
            width: 164px !important;
            @include desktop(){
                top: 140px;
                left: 558px;
            }
        }
        #igual{
            @include desktop(){
                top: 200px;
                left: 725px;
            }
        }
        #cir6{
            width: 164px !important;
            @include desktop(){
                top: 140px;
                left: 800px;
            }
        }
        
    }
    &_4{
        background-color: #fff;
        background-image:  url(./images/background.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        @include small(){
            background-size: cover;
            background-image:  url(./images/background.png);
        }
        .text{
            @include desktop(){
                top: 110px;
                left: 10%;
                width: 80%;
                font-size: 1.6rem;
                text-align: center;
            }
            p{
                margin-top: 20px;
            }
            img{
                margin-top: 50px;
            }
        }
    }
    
}
#controls{
    display: flex;
    gap: 10px;
    cursor: pointer;
    @include desktop(){
        bottom: 10px;
        right: -50px;
        width: 200px;
        z-index: 1;
    }
    @include small(){
        display: none;
    }
}
#cir5,#cir4,#cir3,#cir2,#cir1,#cir6{
    transition: all 0.5s ease;
}
.modal{
    @include small(){
        width: 100% !important;
        height: 100vh !important;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
    @include desktop(){
        width: 100% !important;
        height: 100vh !important;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
    }
    .content_modal{
        @include small(){
            width: 100% !important;
            height: 100vh !important;
            background-color: #000000d0;
            display: flex;
            justify-content: center;
            align-items:center;
            img{
                width: 100% !important;
            }
        }
        
    }
    .close{
        cursor: pointer;
        @include small(){
            position: absolute;
            top: 10px;
            right: calc(50% - 35px);
        }
        @include desktop(){
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }
    
}